.LiveTutorTutor__Dash {
  .column {
    float: left;
    margin-bottom: 50px;
  }
  .left {
    width: 35%;
  }
  .right {
    width: 65%;
  }

  .LiveTutorTutor__Button__Wrapper {
    margin: 14px 0px;
    margin-right: 14px;

    .LiveTutorTutor__Button {
      background-color: #3a405b;
      border-radius: 7px;
      border-width: 0px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      height: 80px;
      width: 100%;
    }
    .LiveTutorTutor__Button:hover {
      cursor: pointer;
      background-color: #2a304b;
    }
    .LiveTutorTutor__Button:focus {
      outline: 0;
    }
  }
}

@media screen and (max-width: 1199px) {
  .LiveTutorTutor__Dash {
    .LiveTutorTutor__Button__Wrapper {
      margin: 14px 0px;
    }
  }
}
