.env-test {
  width: 612px;
  height: 553px;

  .env-test__title {
    margin: 12px 0 20px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }

  .env-test__states {
    display: flex;
    justify-content: space-around;
  }

  .env-test__state {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 32px;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p:nth-child(2) {
      color: #ffbd1f;
      &.inactive {
        color: #ff484f;
      }
      &.active {
        color: #7ed321;
      }
    }
  }

  .env-test__video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% * (9/16));
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    color: #999999;
    overflow: hidden;
  }

  button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 43px;
    margin-top: 23px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    background-color: #63baf5;
    border: none;
    outline: none;
    cursor: pointer;
  }
}