.PopupRankComplete {
  z-index: 10;
  background-color: #393e4f;
  height: 224px;
  width: 480px;
  top: 30%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px #282c36;
}

.PopupRankCompleteHeader {
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-bottom: 1px solid #282c36;

  .HeaderText {
    font-weight: bold;
    float: left;
    margin: 0px 0px 0px 24px;
  }

  .HeaderImg {
    float: right;
    padding-right: 27px;
  }
}

.PopupRankCompleteContent {
  padding: 24px 0px 0px 24px;

  .PopupRankCompleteInfo {
    line-height: 1.5;
  }
}

.PopupRankCompleteButtonsOk {
  position: absolute;
  right: 24px;
  bottom: 32px;
  width: 78px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1db6ff;
  border: 1px solid #1db6ff;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
