.TabText .conv:first-child{
    margin-top: 28px;
}

.speakerTalkBox {
    position: relative;
}

.speakerImgBox, .speakerTalkText{
    display: inline-block;
    line-height: 1.5;
}

.speakerImg {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background: pink;
}

.speakerTalkText, .AnnounceBox {
    background: #2f3443;
    width: calc(100% - 115px);
    margin: 10px 10px 10px 0px;
    padding: 12px 20px;
    border-radius: 8px;
    position: relative;
    left: 85px;
    cursor: pointer;
    font-size: 16px;
}

.speakerTalkText {
    position: relative;
}

.speakerTalkText::before {
    content: "";
    position: absolute;
    top: -7.5px;
    left: -5px;
    width: 15px;
    height: 15px;
    background: #2f3443;
    transform: rotate(45deg);
    border-radius: 0 ;
}

.speakerTalkText::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -10px;
    width: 30px;
    height: 15px;
    background: #272b37;
}

.AnnounceBox{
    margin-top: 0;
}

.selected {
    color: #1db6ff;
}