.popup_pythonImage {
  text-align: center;
  width: 500px;

  .popup_buttons {
    display: flex;
    justify-content: center;
  }
  .popup_button-cancel {
    margin-right: 12px;
  }
}
@media screen and (max-width: 767px) {
  .popup_twobutton {
    margin-top: 30vh;
    width: 100%;
  }
}
